
	
						<!-- menu start -->
						<nav class="main-menu">
							<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="{{ path('index') }}" class="nav-item nav-link{{ (app.request.attributes.get('_route') == 'index')  ? 'active': ''}}">Home</a>
								
								</li>
								<li><a href="{{ path('about') }}" class="nav-item nav-link  {{ (app.request.attributes.get('_route') == 'about')  ? 'active': ''}}">About</a></li>
								
									
						        </li>
								<li><a href="{{ path('contact') }}" class="nav-item nav-link {{ (app.request.attributes.get('_route') == 'contact')  ? 'active': ''}}">Contact</a>
									
								</li>
								<li><a href="{{ path('news') }}" class="nav-item nav-link {{ (app.request.attributes.get('_route') == 'news')  ? 'active': ''}}">News</a></li>
								<li><a href="{{ path('shop') }}" class="nav-item nav-link {{ (app.request.attributes.get('_route') == 'shop')  ? 'active': ''}}">Shop</a>
									
								</li>
								<li>
									<div class="header-icons">
										<a href="{{ path('app_cart') }}" class="nav-item nav-link {{ (app.request.attributes.get('_route') == 'app_cart')  ? 'active': ''}}"><i class="bi bi-cart"></i> Cart <span id='totalItems'>({{cart.totalItems}})</span></a>
									</div>
								</li>
								{% if app.user %}
  <li><a href="{{ path('app_logout') }}"><i class="fa fa-sign-out sr-icons"></i> {{ app.user.name }} - Logout</a></li>
{% else %}
  <li class="{{ (app.request.attributes.get('_route') == 'app_login')  ? 'active': ''}} lien"><a href="{{ path('app_login') }}"><i class="fa fa-sign-in sr-icons"></i> Login</a></li>
  <li class="{{ (app.request.attributes.get('_route') == 'app_register')  ? 'active': ''}} "><a href="{{ path('app_register') }}"><i class="fa fa-user-secret sr-icons"></i> Register</a></li>
{% endif %}

							</ul>
							
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->

